personal-finances-ui/.settings/org.eclipse.core.resources.prefs
personal-finances-ui/.settings/org.eclipse.jdt.core.prefs
personal-finances-ui/.settings/org.eclipse.m2e.core.prefs
personal-finances/.project
personal-finances/.settings/org.eclipse.core.resources.prefs
personal-finances/.settings/org.eclipse.jdt.core.prefs
personal-finances/.settings/org.eclipse.m2e.core.prefs
